
  <img class="artist-banner" src="<%= @artist.photo %>" alt="<%= @artist.first_name %>-<%= @artist.last_name %>">
<section id="artist">
  <article class="infos">
  <h2><%= @artist.first_name %> <%= @artist.last_name %></h2>
  <p>
    <%= @artist.bio %>
  </p>
  </article>
</section>
