
<img class="artist-banner" src="<%= @artist.photo %>" alt="<%= @artist.first_name %>-<%= @artist.last_name %>">
<section id="artist">
  <article class="infos">
  <%= link_to 'edit', edit_artist_path %>
  <img src="<%= @artist.photo %>" alt="<%= @artist.first_name %>-<%= @artist.last_name %>">
  <h2><%= @artist.first_name %> <%= @artist.last_name %></h2>
  <div id="markdown-text">
    <%= @artist.bio %>
  </div>
  </article>
</section>
